//styles.scss

@import "colours/autismColours";
@import "partials/deviceSizes";
@import "partials/grid";
@import "partials/custom";
@import "partials/typography";

.headerImage {
  margin: 3.5rem 0 3.5rem 0;
  background-image: url("../image/autismSpectrum/292.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  display: block;
}
